@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Noto+Serif+Hentaigana:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif Hentaigana", serif;
}
